.author-card-border {
  padding: 1px; /* толщина рамки */
  border-radius: 34px; /* больше чем у внутренней карточки */
  overflow: hidden;

  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(
      122.82deg,
      rgba(255, 255, 255, 0.8) 2.19%,
      rgba(255, 255, 255, 0) 9.87%
    ),
    linear-gradient(
      140deg,
      rgba(255, 255, 255, 0) 68.37%,
      rgba(255, 255, 255, 0.32) 86.13%
    ),
    radial-gradient(
      25.1% 22.57% at 15.22% -1.51%,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(155deg, #008cff 2.69%, rgba(0, 140, 255, 0) 32.62%),
    radial-gradient(
      15.23% 21.98% at 100.76% 87.57%,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    );
}

/* Grid для карточек статей с ограничением максимальной ширины */
.articles-grid {
  grid-template-columns: repeat(3, minmax(200px, 480px));
}

@media (max-width: 1023px) {
  .articles-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 767px) {
  .articles-grid {
    grid-template-columns: 1fr;
  }
}
