/* Primary */
.btn_primary {
  position: relative;
  isolation: isolate;

  background: radial-gradient(
      120% 120% at 25% 10%,
      rgba(255, 255, 255, 0.18) 0%,
      rgba(255, 255, 255, 0) 55%
    ),
    linear-gradient(68deg, #ff6539 0%, #ee5220 48%, #da4a16 100%);

  --glow-shift: 0px;

  box-shadow: calc(-32px + var(--glow-shift)) 0 54px 0 rgba(255, 43, 0, 0.5),
    calc(-4px + var(--glow-shift)) 0 12px 0 rgba(255, 0, 0, 0.15),
    calc(-66px + var(--glow-shift)) 0 66px 0 rgba(255, 102, 25, 0.15),
    calc(-100px + var(--glow-shift)) 0 44px 0 rgba(255, 0, 0, 0.15),
    2px -2px 12px 0 rgba(255, 255, 255, 0.06);
}

/* Secondary */
.btn_secondary {
  background: radial-gradient(
      140% 120% at 22% 8%,
      rgba(255, 255, 255, 0.26) 0%,
      rgba(255, 255, 255, 0) 50%
    ),
    linear-gradient(68deg, #ffffff 0%, #e8d4ff 100%);
  box-shadow: -12px 0 20px -2px rgba(118, 33, 214, 0.7);
}

/* Secondary small */
.btn_secondary-s {
  background: radial-gradient(
      180% 160% at 0% 50%,
      rgba(255, 255, 255, 0.28) 0%,
      rgba(255, 255, 255, 0) 60%
    ),
    linear-gradient(68deg, #fff1e6 0%, #ffcba6 100%);

  box-shadow: -12px 0px 20px -2px rgba(255, 105, 50, 0.7);
}

/* Secondary small blue*/
.btn_secondary-b {
  background: radial-gradient(
      140% 120% at 22% 8%,
      rgba(255, 255, 255, 0.26) 0%,
      rgba(255, 255, 255, 0) 50%
    ),
    linear-gradient(68deg, #ffffff 0%, #bbd8ff 100%);
  box-shadow: -12px 0 20px -2px rgba(0, 140, 255, 0.4);
}

.btn_secondary:hover {
  background: radial-gradient(
      140% 120% at 22% 8%,
      rgba(255, 255, 255, 0.42) 0%,
      /* было 0.26 */ rgba(255, 255, 255, 0) 55%
    ),
    linear-gradient(68deg, #ffffff 0%, #f1e6ff 100% /* светлее чем #e8d4ff */);
}

.btn_secondary-s:hover {
  background: radial-gradient(
      180% 160% at 0% 50%,
      rgba(255, 255, 255, 0.45) 0%,
      rgba(255, 255, 255, 0) 65%
    ),
    linear-gradient(68deg, #fff7f0 0%, #ffd9be 100%);
}

.btn_secondary-b:hover {
  background: radial-gradient(
      140% 120% at 22% 8%,
      rgba(255, 255, 255, 0.42) 0%,
      rgba(255, 255, 255, 0) 55%
    ),
    linear-gradient(68deg, #ffffff 0%, #d6e8ff 100%);
}
