@theme {
  /* Input Colors */
  --input-bg: var(--color-neutral-80);
  --input-text: var(--color-neutral-10);
  --text-placeholder: var(--color-neutral-40);
  --text-error: var(--color-danger-red);
}

.input-gradient-border {
  position: relative;
  border-radius: 999px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.input-gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
      -81deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      -43deg,
      rgba(255, 255, 255, 0.48) 0%,
      rgba(255, 255, 255, 0.08) 100%
    ),
    linear-gradient(
      -70deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.16) 100%
    );
  background-blend-mode: screen, normal, overlay;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.input-base {
  background: var(--input-bg);
  border: none;
  color: var(--input-text);
}

.input-base::placeholder {
  color: var(--text-placeholder);
}

.input-error {
  color: var(--text-error);
}
